body {
    overflow: hidden;
}
.game {
    --accent: rgb(255, 255, 255);
    --background: rgb(0, 0, 0);
    background: var(--background);
    height: 100vh;
    width: 100vw;
    font-family: "Untitled Serif";
    display: flex;
    flex-flow: column;
    
    /* For TV display */
    width: calc(101vw);
    height: calc(100vh - 29px);
    padding-top: 30px;
    padding-left: 20px;
}
.game--controls {
    display: flex;
    flex-basis: 2rem;
    
    /* For TV display */
    width: calc(80vw);
    align-self: center;
    border: 1px solid white;
    border-radius: 4px;
    transform: translateY(100%);
}
.controls--field {
    display: block;
    flex-basis: 90%;
    padding: .5rem 1rem;
    border: 0;
    color: var(--accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: lowercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    background: transparent;
}
.controls--button {
    flex-grow: 1;
    background: none;
    display: none;
    border: 0;
    color: var(--accent);
    font-weight: bold;
    text-decoration: underline;
}

.game--status {
    padding: .6rem 1rem;
    color: var(--accent);
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 1.5rem;
    transform: scaleX(.9);
    text-align: center;
    transform-origin: center;
}
.game--output {
    flex-basis: 85%;
    color: var(--accent);
    padding: 1rem;
    font-size: 1.7rem;
    line-height: 1.2;
    overflow-y: scroll;
    padding-bottom: 7rem;
}

.game--output ul {
    padding-bottom: 1rem;
}

.game--output li {
    display: block;
    list-style: none;
    transform-origin: left;
    /* transform: scaleX(.93); */
}