.game {
    --accent: rgb(255, 255, 255);
    --background: rgb(0, 0, 0);
    background: var(--background);
    width: 100vw;
    height: 100vh;
    font-family: "Untitled Serif";
    display: flex;
    flex-flow: column;
}
.game--controls {
    display: flex;
    flex-basis: 2rem;
}
.controls--field {
    display: block;
    flex-basis: 90%;
    padding: .5rem 1rem;
    border: 0;
    color: var(--accent);
    font-weight: bold;
    font-size: 1rem;
    background: transparent;
}
.controls--button {
    flex-grow: 1;
    background: none;
    border: 0;
    color: var(--accent);
    font-weight: bold;
    text-decoration: underline;
}


.game--status {
    padding: .6rem 1rem;
    color: var(--background);
    background: var(--accent);
    text-transform: capitalize;
    font-size: 1.5rem;
    transform: scaleX(.9);
    transform-origin: left;
}
.game--output {
    flex-basis: 100%;
    flex-grow: 1;
    border-bottom: 1px solid var(--accent);
    color: var(--accent);
    padding: 1rem;
    font-size: 1.7rem;
    line-height: 1.2;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.game--output ul {
    padding-bottom: 1rem;
}

.game--output li {
    display: block;
    list-style: none;
    transform-origin: left;
    /* transform: scaleX(.93); */
}